@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Solitreo&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: solitreo, sans-serif;
    font-weight: 300;
    color:#167eae;
}

/*logo and header*/

h1, h2 {
    font-family: solitreo, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#logo {
    float:left;
    font-size: 280%;
    margin-left: 30px;
}

/*navigation links*/

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    
}

#menu, #logo{
    line-height: 75px;

}
#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a{
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #167eae;
}

.active {
    border-bottom: 1px solid #167eae;
}

/* webdesign background image*/

#webdesign-background-image-outer{
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#webdesign-background-image{
    height: 600px;
    width: 100%;
    background: url(../images/webdesign-background-image.png) no-repeat center center;

    
}

/*about me section*/

#about-me{
    height: 600px;
}

#left-about{
    padding-top: 30px;
    width: 60%;
    float: left;
    color:blue
}

#right-about{
    padding-top: 30px;
    width: 40%;
    float: right;
    color:red;
}


