@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Solitreo&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: solitreo, sans-serif;
    font-weight: 300;
    color:#167eae;
}

/*logo and header*/

h1, h2 {
    font-family: solitreo, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#logo {
    float:left;
    font-size: 280%;
    margin-left: 30px;
}

/*navigation links*/

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    
}

#menu, #logo{
    line-height: 75px;

}
#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a{
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #167eae;
}

.active {
    border-bottom: 1px solid #167eae;
}

/* webdesign background image */

#webdesign-background-image-outer{
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#webdesign-background-image{
    height: 600px;
    width: 100%;
    background: url(../images/webdesign-background-image.png) no-repeat center center;

    
}

/*about me section*/

#about-me{
    height: 500px;
}

#about-me h1{
    text-align: center;
    margin-top: 30px;
}
#container {
    display: flex;
    column-gap: 0px;

}

#left-about{
    margin-top: 70px;
    margin-left: 50px;
    padding-top: 40px;
    width: 80%;
    
    
}

#right-about{
    padding-top: 30px;
    width: 20%;
    margin-top: 100px;
    margin-right: 250px;  
}


#circle-container {
    width: 400px;
    height:400px;
    padding:30px;
    border-style:solid;
    border-color: #167eae;
    mask-border-width: 1px;
    border-radius: 50%;
    margin:0 auto;
   
}

#circle-cover-bg {
    
    background: url(../images/profile-picture.jpg) no-repeat center center;
    height:100%;
    border-radius: 50%;
    overflow: hidden;
    
}

/*contact section*/

#schedule-a-meeting {
    text-align: center;
    height: 400px;
    width: 50%;
    margin-top: 350px;
    margin-left: 350px;
}

/*footer*/
footer{
    height: 150px;
}

.social-networks {
    text-align: center;
}
.social-networks > li {   
    display: inline;
    text-align: center;
    
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    text-align: center;
    color: #167eae;
}



